@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Máy tính MVC</title>
    <link href="~/assets/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form class="form-horizontal" method="post" >
                    <div class="form-group">
                        <label for="txtX" class="col-sm-2 control-label">X</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtX" name="x" placeholder="Toán hạng 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtY" class="col-sm-2 control-label">Y</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtY" name="y" placeholder="Toán hạng 2">
                        </div>
                    </div>

                    @if (ViewBag.RET != null)
                    {
                        <div class="form-group">
                            <label for="txtRET" class="col-sm-2 control-label">RET</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtRET" readonly="true" value="@ViewBag.RET">
                            </div>
                        </div>
                    }
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="submit" class="btn btn-default" name="operator" value="+">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="submit" class="btn btn-default" name="operator" value="-">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="submit" class="btn btn-default" name="operator" value="*">
                                    <i class="fa fa-asterisk"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/assets/jquery-1.11.2.min.js"></script>
    <script src="~/assets/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
</body>
</html>
