@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetIDName</title>
</head>
<body>
    <div>
        ID = @ViewBag.ID
        <br />
        Name = @ViewBag.Name
    </div>
</body>
</html>
